{% extends 'base.html.twig' %}

{% block title %}Аналитика{% endblock %}

{% block body %}
    {% include 'header.html.twig' with {
        'controller': controller,
    } %}

    <div class="container-fluid">
        <div class="card mt-2">
            <div>
                {% include 'analytics/part/control.html.twig' %}
            </div>

            <div class="analytics-table">
                {% include 'analytics/part/table.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}