{% extends 'base.html.twig' %}

{% block title %}Модуль анализа данных{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container-fluid">
        123 qwe
    </div>

{% endblock %}
