body {
  background-color: #f6f8fb;
}

.navbar-expand-md .nav-item.active:after {
  content: "";
  position: relative;
  left: 0;
  right: 0;
  bottom: -.25rem;
  border: 0;
  border-bottom: solid 2px #066fd1;
}

.users-table th .sort-icon {
  width: 12px;
  height: 11px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 30;
  margin-right: 3px;
}

.users-option-panel .is-left-col {
  max-width: 650px;
}

.users-table-wrap {
  max-height: calc(100vh - 280px);
  min-height: 300px;
  position: relative;
}

.users-table .hidden-cell {
  display: none;
}

.users-table th .sort-icon.is-both {
  background-image: url('/assets/source/img/icon/arrow.png');
}

.users-table th .sort-icon.is-desc {
  background-image: url('/assets/source/img/icon/arrow_down.svg');
}

.users-table th .sort-icon.is-asc {
  background-image: url('/assets/source/img/icon/arrow_up.svg');
}

.filter-sort-wrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.name-text {
  margin-right: 10px;
  padding-top: 3px;
}

.th-name {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort-name-wrap {
  display: flex;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: 1rem;
}

.id-name {
  margin-left: 7px;
}

.table-filter-btn {
  outline: none;
  border: none;
  background-color: transparent;
  pointer-events: all;
  position: relative !important;
}

.settings-dropdown {
  .icon {
    margin: 0;
  }
}

#columns-settings-btn {
  padding: 0.4375rem 0.5rem;
}

.search-dropdown {
  width: 350px;
  padding: 15px 15px 0 15px;
}

.filter-modal-title {
  text-transform: initial;
}

.filter-date-modal {
  display: flex;
  justify-content: space-around;
}

.flatpickr-wrap {
  display: flex;

  .flatpickr-input:focus,
  .flatpickr-input:hover {
    box-shadow: none;
    border-color: #e6e7e9;
  }

  .flatpickr-input:focus:not([disabled]):not(.disabled) {
    border-color: #e6e7e9;
  }

  .btn {
    outline: none;
    //  border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0.5rem;
  }
}

.user-table-row.is-selected,
.editable-table-row.is-selected {
  background-color: rgba(32, 107, 196, 0.25);
}

.dropdown-toggle:after {
  border-bottom: 1px solid;
  border-left: 1px solid;
  content: "";
  display: inline-block;
  height: .36em;
  margin-left: .4em;
  margin-right: .1em;
  transform: rotate(-45deg);
  vertical-align: .306em;
  width: .36em;
  border-top: unset;
  border-right: unset;
}

.hide-btn {
  background-color: transparent;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: .875rem;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.page-layout>.navbar-vertical.navbar-expand-lg {
  padding-top: 70px;
}

.header {
  left: 0!important;
  position: fixed!important;
  top: 0!important;
  width: 100%;
  z-index: 1035;
}

.page-layout {
  min-height: calc(100vh - 100px);
}

body {
  padding-top: 67px;
}

#navbar-menu > ul > li > div > div > div a span.nav-link-title {
  margin-left: 5px;
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .directory-custom-dropdown .dropdown-toggle:after {
  margin-left: unset;
  transform: rotate(-43deg);
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .directory-custom-dropdown .dropdown-toggle.show:after {
  margin-left: unset;
  transform: rotate(135deg);
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .directory-custom-dropdown .dropdown-toggle {
  align-items: center;
  justify-content: space-between;
}

.aside-panel .nav-link {
  align-items: start;
  display: flex;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  gap: 5px;
}

.nav-link-items-container {
  align-items: center;
  display: flex;
}

.directory-custom-dropdown .dropdown-menu-column {
  min-width: unset;
}

#navbar-menu>ul>li>div>div>div a span.nav-link-title {
  margin-left: 5px;
}

.dropdown-menu .nav-link-title {
  max-width: calc(100% - 25px);
  white-space: normal;
}

.container, .aside-panel.navbar.navbar-vertical.navbar-expand-lg>.container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--tblr-gutter-x,1.5rem);
  padding-right: var(--tblr-gutter-x,1.5rem);
  width: 100%;
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav {
  margin-left: calc(var(--tblr-gutter-x,1.5rem)*-1);
  margin-right: calc(var(--tblr-gutter-x,1.5rem)*-1);
}

.aside--hidden {
  width: auto !important;

  .navbar-nav .nav-link {
    padding: 0.5rem !important;
    justify-content: center !important;
  }
}

.page-wrapper--full {
  margin-left: 7rem!important;
  transition: .3s;
}

.hide-btn--hidden {
  transform: rotate(180deg);
}

.aside-panel .nav-link--hidden {
  display: none;
  text-align: center;
}







.card {
  --tblr-card-border-radius: 4px;
  background: var(--tblr-card-bg,#fff);
  border: 1px solid rgba(98,105,118,.16);
  border-radius: var(--tblr-card-border-radius);
  box-shadow: 0 2px 4px 0 rgba(30,41,59,.04);
  transition: transform .3s ease-out,opacity .3s ease-out,box-shadow .3s ease-out;
}

.columns__item-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.columns__link {
  width: 155px;
}

.columns__link {
  color: rgba(30,41,59,.7);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
  transition: color .3s;
}

.container .card-sm {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60px;
  padding: 5px 10px;
}

.columns__link .card_text {
  font-size: 15px;
}