{% extends 'base.html.twig' %}

{% block title %}Аналитика{% endblock %}

{% block body %}
    {% include 'header.html.twig' with {
        'controller': controller,
    } %}

    <div class="page page-layout">
        {% include 'analytics/block/aside_panel.html.twig' with {'controller': controller} %}
        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-fluid">
                    <div class="card mt-2 statistics-container">
                        <div>
                            {% include 'analytics/statistics/part/control.html.twig' %}
                        </div>

                        <div class="statistics-table">
                            {% include 'analytics/statistics/part/table.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}