<div class="users-table-wrap table-responsive">
    <table class="table card-table">
        <thead>
        <tr>
            <th>ФИО</th>
        </tr>

        </thead>
        <tbody>
        <tr>
            <td>fio</td>
        </tr>
        </tbody>
    </table>
</div>

